---
title: "Day Seventeen"
date: 2015-05-21 12:54:36 UTC
locations:
  -
    title: 'Hoàn Kiếm Lake'
    latlng: [21.0277644, 105.8341598]
  -
    title: 'Hoa Lo Prison (Hanoi Hilton)'
    latlng: [21.024933, 105.8464407]
  -
    title: 'St Joseph Cathedral'
    latlng: [21.0288468, 105.8493043]
  -
    title: 'Đài phun nước'
    latlng: [21.031977, 105.851477]
---
%p After spending yesterday in the hospital for a fever, today was mostly a solo day. First stop was the Hoàn Kiếm Lake just 100m from our hotel. Following the lake I ended up at the Hanoi Hilton.

%img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-7-1100x.jpg', :width => '1100', :height => '733'}
%img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-19-1100x.jpg', :width => '1100', :height => '733'}

%h2 Hoa Lo Prison (Hanoi Hilton)
%p Built by the French to hold political prisoners it got it's Hanoi Hilton name during the Vietnam war. Mostly pilots that were shot down ended up here. Most of the museum in part of the prison is dedicated to the French holding the political prisoners.

%img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-8-1100x.jpg', :width => '1100', :height => '733'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-9-1100x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-10-1100x.jpg', :width => '1100', :height => '733'}
%img.full{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-11-2200x.jpg', :width => '1100', :height => '733'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-12-734x.jpg', :width => '733', :height => '1100'}
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-13-1100x.jpg', :width => '1100', :height => '733'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-17-1100x.jpg', :width => '1100', :height => '691'}
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-15-653x.jpg', :width => '653', :height => '1100'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-16-734x.jpg', :width => '733', :height => '1100'}
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-14-1100x.jpg', :width => '1100', :height => '733'}

%h2 St Joseph Cathedral
%p After the (sometimes rather depressing) prison visit I headed back up to the lake and stubmled upon the St Joseph Cathedral.
%img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-1-1100x.jpg', :width => '1100', :height => '696'}
%img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-2-1100x.jpg', :width => '1100', :height => '730'}

%p And headed back to the hotel in the maze that is the "Old Quarter".

.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-3-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-4-1100x.jpg', :width => '1100', :height => '730'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-21-1100x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-20-1100x.jpg', :width => '1100', :height => '577'}

%h2 Đài phun nước / Old Quarter
%p This crossing is one of the more famous and you can see it in most photo's depicting Hanoi.

%img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-5-1100x.jpg', :width => '1100', :height => '730'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-22-1100x.jpg', :width => '1100', :height => '786'}
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-18-734x.jpg', :width => '733', :height => '1100'}
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-23-1100x.jpg', :width => '1100', :height => '733'}
%img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-24-1100x.jpg', :width => '1100', :height => '733'}
%img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-25-1100x.jpg', :width => '1100', :height => '733'}

%h2 Korean BBQ
%p When in Rome... Eat Korean BBQ. We opted for a less adventurous meal today, because we're still in the aftermath of previous meals.
%img.full{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-26-2200x.jpg', :width => '1100', :height => '733'}
%img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-27-1100x.jpg', :width => '1100', :height => '733'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-28-1100x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-29-1100x.jpg', :width => '1100', :height => '733'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-30-1100x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-31-1100x.jpg', :width => '1100', :height => '733'}

%p Dinner was amazing and the rain made for very nice reflections on the road on our way back to the hotel.
%img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-32-1100x.jpg', :width => '1100', :height => '733'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-33-1100x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-seventeen/image-35-787x.jpg', :width => '733', :height => '1100'}
