---
title: "Zion Nat. Park"
date: 2011/06/15
locations:
  -
    title: Zion
    latlng: [37.200022, -112.986316]
---

%p
  After Bryce Canyon we still had a few hours left so we drove to Zion National Park and took a bus tour.

= photo(:src => '//cdn.matsimitsu.com/usa2011/zion-nat-park/DSC0547-1100x.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2011/zion-nat-park/DSC0570-1100x.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2011/zion-nat-park/DSC0574-1100x.jpg', :width => '1100', :height => '1656')
= photo(:src => '//cdn.matsimitsu.com/usa2011/zion-nat-park/DSC0576-1100x.jpg', :width => '1100', :height => '1656')
%img.full{:src => '//cdn.matsimitsu.com/usa2011/zion-nat-park/DSC0548-Edit-2200x.jpg'}
