---
title: "Death Valley Nat. Park"
date: 2011/06/16
locations:
  -
    title: Death Valley
    latlng: [36.5053891, -117.0794082]
---

%p
  After all those parks we drove to Las Vegas where we forgot to book a hotel beforehand. This ended up costing us a lot of money as they charge almost double the rate if you are a walk-in. Vegas itself was nice, but i've been there before and it really only impresses the first time you see it. We decided that one day in Vegas was enough and drove to Death Valley.

%img.full{:src => '//cdn.matsimitsu.com/usa2011/death-valley-nat-park/death_valley_pan-2200x.jpg'}
= photo(:src => '//cdn.matsimitsu.com/usa2011/death-valley-nat-park/DSC0651-1100x.jpg', :width => '1100', :height => '731')
= photo(:src => '//cdn.matsimitsu.com/usa2011/death-valley-nat-park/DSC0664-1100x.jpg', :width => '1100', :height => '731')
%p
  After driving through Death Valley we somehow ended up at the Mexican border, so we headed to San Diego where we managed to book a 4 star hotel near the harbour through PriceLine. I have to say we felt a bit out of place in our dusty desert clothes. In San Diego we went to Sea World with a giant hangover from the night before.
%p

  After a bit of rest we noticed we still had one and a half week left. Our original plan was to drive to San Fransisco from San Diego, but with this much time left, we aimed a bit higher... at Portland! So we got into our car and took the 5 to Yosemite National Park


= photo(:src => '//cdn.matsimitsu.com/usa2011/death-valley-nat-park/DSC0685-1100x.jpg', :width => '1100', :height => '717')
%img.full{:src => '//cdn.matsimitsu.com/usa2011/death-valley-nat-park/header-2200x.jpg'}
