---
title: "Day Twenty Two"
subtitle: 'Hanoi <i class="fa fa-plane"></i> Hong Kong'
date: 2015-05-26 00:00:00 UTC
locations:
  -
    title: 'Hanoi'
    latlng: [21.0277644, 105.8341598]
  -
    title: 'Hong Kong'
    latlng: [22.396428, 114.109497]
---

%p The night train arrived at Hanoi station around 05:00 in the morning. Waaay to early to do anything useful, so we headed to the hotel for some extra sleep. After that we ate breakfast and got a taxi to the airport for our flight to Hong Kong.

%img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-two/image-1-1100x.jpg', :width => '1100', :height => '730'}

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-two/image-2-1100x.jpg', :width => '1100', :height => '733')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-twenty-two/image-4-1100x.jpg', :width => '1100', :height => '733')
