---
title: "Day Seventeen"
subtitle: "Trains"
date: 2014-06-01 10:07:13 UTC
locations:
  -
    title: Nagoya
    latlng: [35.1814464, 136.906398]

---
%p We had a very "boring" day today, were we spent 6 hours in trains.

%img{:src => '//cdn.matsimitsu.com/asia2014/day-seventeen/header-2-1100x.jpg', :width => '1100', :height => '730'}
%p A quick stop in Hakata
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-seventeen/header-3-1100x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-seventeen/header-4-1100x.jpg', :width => '1100', :height => '730')

%p At the end of the day around 20:00 we were finally in our hotel in Nagoya.

%img{:src => '//cdn.matsimitsu.com/asia2014/day-seventeen/header-5-1100x.jpg', :width => '1100', :height => '730'}
