---
title: "Day Nineteen"
date: 2015-11-24 00:00:00 UTC
locations:
  -
    title: 'Tokyo University'
    latlng: [35.7126775, 139.761989]
---

%p Having explored most parts around Tokyo and with some work to be done, today I made a quick trip to the Tokyo Universisty with it's boulevards of autumn-colored trees and a nice park in the center.

.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-1-2200x.jpg', :width => '1100', :height => '733'}
    %img{:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-12-1466x.jpg', :width => '733', :height => '1100'}
%img{:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-2-2200x.jpg', :width => '1100', :height => '733'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-4-2200x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-5-2200x.jpg', :width => '1100', :height => '733'}
%img{:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-6-2200x.jpg', :width => '1100', :height => '733'}
%img.full{:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-7-2200x.jpg', :width => '1100', :height => '733'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-8-1466x.jpg', :width => '733', :height => '1100'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-9-1466x.jpg', :width => '733', :height => '1100'}
%img{:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-10-2200x.jpg', :width => '1100', :height => '733'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-11-1466x.jpg', :width => '733', :height => '1100'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-nineteen/image-13-2200x.jpg', :width => '1100', :height => '733'}
