---
title: "Day Thirteen - Fourteen"
subtitle: "Austin - Houston"
date: 2014-10-17 13:45:47 UTC
locations:
  -
    title: Hamilton Pool
    latlng: [30.1902067, -98.0866781]
  -
    title: George Bush Intercontinental Airport
    latlng: [29.9867141, -95.3479248]
---

%p After visting many cities we wanted to see a bit more nature, so we headed to the Hamilton Pool in Austin, Texas.


%img{:src => '//cdn.matsimitsu.com/usa2014/day-thirteen-fourteen/image-13-1100x.jpg', :width => '1100', :height => '731'}
%img{:src => '//cdn.matsimitsu.com/usa2014/day-thirteen-fourteen/image-17-1100x.jpg', :width => '1100', :height => '731'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/usa2014/day-thirteen-fourteen/image-14-1100x.jpg', :width => '1100', :height => '731'}
  %img{:src => '//cdn.matsimitsu.com/usa2014/day-thirteen-fourteen/image-16-1100x.jpg', :width => '1100', :height => '731'}
%img{:src => '//cdn.matsimitsu.com/usa2014/day-thirteen-fourteen/image-20-1100x.jpg', :width => '1100', :height => '731'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/usa2014/day-thirteen-fourteen/image1-12-1100x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/usa2014/day-thirteen-fourteen/image1-13-1100x.jpg', :width => '1100', :height => '733'}
%img{:src => '//cdn.matsimitsu.com/usa2014/day-thirteen-fourteen/image1-15-1100x.jpg', :width => '1100', :height => '733'}
%img{:src => '//cdn.matsimitsu.com/usa2014/day-thirteen-fourteen/image-22-1100x.jpg', :width => '1100', :height => '731'}
%p After driving back to Houston, we checked in to our last hotel and the next day we spent 14 hours inside aircraft flying back to Amsterdam.
%img{:src => '//cdn.matsimitsu.com/usa2014/day-thirteen-fourteen/image1-14-1100x.jpg', :width => '1100', :height => '733'}
