---
title: Egypt
date: 2009-08-24 12:00:00 +0200
subtitle: Exploring Egypt.
header: '//cdn.matsimitsu.com/photoset/egypt/egypt-12-1100x.jpg'
---

%img{:src => '//cdn.matsimitsu.com/photoset/egypt/egypt-5-1100x.jpg', :width => '1100', :height => '730'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/photoset/egypt/egypt-2-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/photoset/egypt/egypt-3-x1100.jpg', :width => '730', :height => '1100'}

%img{:src => '//cdn.matsimitsu.com/photoset/egypt/egypt-10-1100x.jpg', :width => '1100', :height => '730'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/photoset/egypt/egypt-6-1100x.jpg', :width => '1100', :height => '682'}
  %img{:src => '//cdn.matsimitsu.com/photoset/egypt/egypt-4-x1100.jpg', :width => '730', :height => '1100'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/photoset/egypt/egypt-7-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/photoset/egypt/egypt-8-1100x.jpg', :width => '1100', :height => '1100'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/photoset/egypt/egypt-1-x1100.jpg', :width => '730', :height => '1100'}
  %img{:src => '//cdn.matsimitsu.com/photoset/egypt/egypt-12-1100x.jpg', :width => '1100', :height => '730'}

%img{:src => '//cdn.matsimitsu.com/photoset/egypt/egypt-9-1100x.jpg', :width => '1100', :height => '730'}
