---
title: New York City
date: 2009-05-04 12:00:00 +0200
subtitle: My first trip to the USA.
header: '//cdn.matsimitsu.com/photoset/nyc2009/nyc-4-1090x.jpg'
---

%img{:src => '//cdn.matsimitsu.com/photoset/nyc2009/nyc-4-1100x.jpg'}
%img{:src => '//cdn.matsimitsu.com/photoset/nyc2009/nyc-2-1100x.jpg', :width => 1100, :height => 825}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/photoset/nyc2009/nyc-6-x1100.jpg', :width => 1100, :height => 841}
  %img{:src => '//cdn.matsimitsu.com/photoset/nyc2009/nyc-3-1100x.jpg', :width => 825, :height => 1100}

%img{:src => '//cdn.matsimitsu.com/photoset/nyc2009/nyc-8-1100x.jpg'}
%img{:src => '//cdn.matsimitsu.com/photoset/nyc2009/nyc-5-1100x.jpg'}
%img{:src => '//cdn.matsimitsu.com/photoset/nyc2009/nyc-7-1100x.jpg'}
