---
title: Berlin
date: 2014-07-28 12:39:42 +0200
subtitle: A couple of days in Berlin
header: '//cdn.matsimitsu.com/photoset/berlin/DSC00874-1100x.jpg'
---

%img{:src => '//cdn.matsimitsu.com/photoset/berlin/DSC00813-1100x.jpg'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/photoset/berlin/DSC00824-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/photoset/berlin/DSC00818-2-1100x.jpg', :width => '1100', :height => '730'}

%img{:src => '//cdn.matsimitsu.com/photoset/berlin/DSC00864-1100x.jpg'}
%img{:src => '//cdn.matsimitsu.com/photoset/berlin/DSC00831-2200x.jpg', :width => '1100', :height => '730'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/photoset/berlin/DSC00858-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/photoset/berlin/DSC00873-1100x.jpg', :width => '1100', :height => '730'}

%img.full{:src => '//cdn.matsimitsu.com/photoset/berlin/DSC00874-2200x.jpg'}

%img{:src => '//cdn.matsimitsu.com/photoset/berlin/DSC00882-2200x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/photoset/berlin/DSC00917-1100x.jpg', :width => '1100', :height => '730'}


