---
title: "Day Four"
date: 2015-11-08 00:00:00 UTC
locations:
  -
    title: 'Akihabara Electric Town'
    latlng: [35.7020691, 139.7753269]
  -
    title: 'Harajuku'
    latlng: [35.6716283, 139.7102847]
  -
    title: 'Shibuya'
    latlng: [35.6640352, 139.6982122]
---

%p Of all the places in the world my colleague Wes decided to visit Tokyo at the same time as me. So we decided to hang out for a day, starting in Harajuku.

%p It was raining today and most of the view is blocked by a gazillion umbrella's.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-four/image-10-2200x.jpg', :width => '1100', :height => '733'}
%img{:src => '//cdn.matsimitsu.com/japan2015/day-four/image-13-2200x.jpg', :width => '1100', :height => '733'}

%p After a nice stroll to Shibuya were we ate delicious Okonomiyaki we headed to Akihabara to do some KitKat shopping (I ended up with KitKat Cheesecake flavor, they are delicious) and play a few games in the many arcades there.


.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-four/image-3-2200x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-four/image-4-2200x.jpg', :width => '1100', :height => '730'}

%p I love it when it rains, the reflections are awesome.
%img.full{:src => '//cdn.matsimitsu.com/japan2015/day-four/image-8-2200x.jpg', :width => '1100', :height => '730'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-four/image-5-2200x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-four/image-7-2200x.jpg', :width => '1100', :height => '730'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-four/image-6-2200x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-four/image-9-2200x.jpg', :width => '1100', :height => '730'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-four/image-11-2200x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-four/image-12-2200x.jpg', :width => '1100', :height => '730'}

%p It was getting late in the evening, time for dinner.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-four/image-14-2200x.jpg', :width => '1100', :height => '733'}
%img{:src => '//cdn.matsimitsu.com/japan2015/day-four/image-1-2-2200x.jpg', :width => '1100', :height => '733'}

%p After dinner we decided to call it a night, but not after getting a delicious <a href="https://en.wikipedia.org/wiki/Taiyaki" target="_blank">Taiyaki</a> filled with chocolade.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-four/image-15-2200x.jpg', :width => '1100', :height => '733'}
