---
title: Day ten &amp; Day eleven
date: 2017-05-14
subtitle: Singapore <i class="fa fa-plane"></i> Yakarta <i class="fa fa-plane"></i> Yogyakarta
header: IMG_20170514_185339_HDR-1.jpg
hotel:
  name: Eastparc Hotel Yogyakarta
  address: Jl. Laksda Adisucipto Km. 6,5 Seturan, Catur Tunggal, 55281 Yogyakarta,
    Indonesia
  image: https://t-ec.bstatic.com/images/hotel/max500/769/76972266.jpg
  url: https://www.booking.com/hotel/id/eastparc-yogyakarta.html?aid=939121
  description: Offering an outdoor swimming pool and a restaurant, Eastparc Hotel
    Yogyakarta is located 500 metres from Ambarukmo Plaza Shopping Mall.
  rating: 9
---

%p We headed to the airport four hours early for our flight, enough time to make a stop at our favorite place, the airport pool at Singapore Changi Airport.
= photo(:src => cdn_url('asia2017/day-ten-and-day-eleven/IMG_20170514_152250-1.jpg'), :ratio => 1.777)
%p After that we took our flight to Yakarta where we stayed at the Ibis Budget Airport hotel.
= photo(:src => cdn_url('asia2017/day-ten-and-day-eleven/DSC05416.jpg'), :ratio => 1.5)
%p  The day after we took a flight to Yogyakarta.
= photo(:src => cdn_url('asia2017/day-ten-and-day-eleven/DSC05418.jpg'), :ratio => 1.5)
