//@import url(https://fonts.googleapis.com/css?family=Poppins)
@import "utilities/reset"
@import "utilities/variables"
@import "utilities/mixins"
@import "utilities/typography"
@import "font-awesome"

@import "modules/*"

*, *:before, *:after
  box-sizing: border-box

.content-wrapper
  max-width: $content-width
  margin: auto
