- content_for(:meta) do
  %meta{:property =>"og:site_name",   :content => "http://matsimitsu.com"}
  %meta{:property =>"og:description", :content => "Matsimitsu | #{blog_controller.name} | #{current_article.title}"}
  %meta{:property =>"og:type",        :content => "blog"}
  %meta{:property =>"og:url",         :content => current_article.url}

= wrap_layout :layout do
  = partial(:photoset, :locals => {:article => current_article})
