---
title: Gear
---
#header
  %h1 Gear

%article#content
  %p Almost all photo's on this site have been shot with the following three camera's, except for the early New York and Egypt trips, those where shot with a Nikon D50.

  %h3 Nikon D90
  %p With almost ten years on the clock this <a href="https://www.amazon.com/gp/product/B001ET6OA6/ref=as_li_tl?ie=UTF8&tag=matsimitsu-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B001ET6OA6&linkId=78b5e25dd0cd9c40d53e63a339a2b3a3" target="_blank"><strong>Nikon D90</strong></a> is my oldest body, but it still produces great pictures. Mostly thanks to the <a href="https://www.amazon.com/gp/product/B0026FCKC8/ref=as_li_tl?ie=UTF8&tag=matsimitsu-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B0026FCKC8&linkId=8c355d1da02336b69f2f5a7bd7ee854a" target="_blank"><strong>Nikon 10-24</strong> lens</a>. I love shooting wide angle as it gives a dramatic viewpoint to a photo. The other lens is a <a href="https://www.amazon.com/gp/product/B001AGPHIS/ref=as_li_tl?ie=UTF8&tag=matsimitsu-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B001AGPHIS&linkId=ca8ee8eb161dcd138b13136323cc8091" target="_blank"><strong>Tamron 28-75 2.8</strong></a> that used to be my main lens, but since I got the Sony RX100 as a walk around camera that covers the same range I prefer to use the RX100 instead of changing lenses.

  %p On a month long holiday I usually only have to charge the D90 battery once or twice, it lasts ages and I don't have the need for multiple batteries. All lenses are covered by a <strong>B&amp;W</strong> UV filter and for the <strong>Tamron 28-75</strong> I have a circular polariser filter by <strong>B&amp;W</strong>. I used to have a battery grip, but it was too bulky for my taste.

  %h3 Sony A6000
  %p The most recent addition is the <a href="https://www.amazon.com/gp/product/B00I8BICB2/ref=as_li_tl?ie=UTF8&tag=matsimitsu-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B00I8BICB2&linkId=bfcf9d42734be1a1a83479a7b9cfd1b4" target="_blank"><strong>Sony A6000</strong></a>. On holiday I ususally spend up to ten hours walking around cities or going on hikes and the weight of the D90 plus lenses started to annoy me as I like to carry the camera on a sling and not in a bag. (I found that keeping the camera in a bag cost me more then a few great photo oppertunities.).

  %p The A6000 is a lightweight powerhouse, it has great image quality and has much better high ISO performance comparing to the D90. For now I still use the kitlens as it covers the range I shoot with most(16-55mm). The weight means I can carry it on my sling without problems or even just hold it in my hand for the entire day. The superfast and accurate focus and shooting with 11fps means I have a much better chance to capture unexpected events.

  %h3 Sony RX100 Mark1
  %p My second camera that I bought a few years after the D90 trying to solve the same issue as the A6000, reducing weight of my gear when walking around cities, is a <a href="https://www.amazon.com/gp/product/B00889ST2G/ref=as_li_tl?ie=UTF8&tag=matsimitsu-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B00889ST2G&linkId=c156d2e421b231a1454386e5d25ca8d3" target="_blank"><strong>Sony RX100</strong></a>. It produces great images and I love that I can carry it in my pocket. I was missing the wide-angle focal range and a proper (electronic) viewfinder, hence the A6000 purchase. I still carry this camera with me every day though as it last months on a battery charge and it produces much better pictures then a phone camera.

  %h3 Acessories
  %p I carry the camera(s) in my backpack which is a <a href="http://www.military1st.co.uk/pl-rtl-po-01-helikon-ratel-molle-backpack-black.html" target="_blank"><strong>Helikon Ratel 25L</strong> military pack</a>. I use it because it's cheap, super strong and has loads of storage space. Sometimes I take a camera insert with me if I only take the A6000. Since all camera's can be charged by USB I take a <a href="https://www.amazon.com/gp/product/B01MSULAM5/ref=as_li_tl?ie=UTF8&tag=matsimitsu-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01MSULAM5&linkId=9fc8803ef29376e1fd2cfd7ba921158d" target="_blank"><strong>Xiaomi 10000mAh</strong> battery</a> with me just in case I need to charge a camera.

  %p I use a <a href="http://www.military1st.co.uk/30757a-mfh-bungee-sling-one-point-fixation-black.html" target="_blank"><strong>MFH int. comp.</strong> military gun sling</a> as my camera sling. They are super cheap (11 euro's for a sling) and last a lot longer then the more expensive camera slings. The D90 and A6000 have a O-ring screwed in the tripod mount.

  %p Because I like to travel light I only carry a small <a href="https://www.amazon.com/gp/product/B00D76RNLS/ref=as_li_tl?ie=UTF8&tag=matsimitsu-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B00D76RNLS&linkId=39fc878723cb3e02029b5904bf42db30" target="_blank"><strong>Manfroto</strong> mini-tripod</a>. It barely holds the D90, but that's good enough as most night shots are made with the RX100 or A6000.

  %h3 Software
  %p <strong>Lightroom</strong> holds my complete photo library. Over the years I've continued to adapt my custom presets, meaning I can post-process all my photos with just a single preset that covers most scenario's. Every once in a while I take a panorma photo that I merge in <strong>Photoshop</strong>, otherwise all editing is done in Lightroom.

  %h3 Backup
  %p Using the 3-2-1 rule I have 3 backups on 2 mediums and 1 in a remote location. I use <a href="https://www.backblaze.com/b2/cloud-storage.html" target="_blank"><strong>Backblaze B2</strong></a> for my off-site backups. The other backups are on 1 Terabyte external hard drives.
