---
title: "Rocky Mountains Nat. Park"
date: 2011/06/10
locations:
  -
    title: Rocky Mountains
    latlng: [39.9613759, -105.5108312]
---

%p
  After landing at Newark Liberty International Airport from Amsterdam we took the bus to Allentown Pennsylvania to a relative where we stayed a few days to sleep off the Jetlag. After that we headed to the local airport to get our rental vehicle for the coming month, a Jeep Grand Cherokee, and headed west to Denver Colorado.

= photo(:src => '//cdn.matsimitsu.com/usa2011/rocky-mountains-nat-park/rockies_pan2.jpg', :class => 'full')
= photo(:src => '//cdn.matsimitsu.com/usa2011/rocky-mountains-nat-park/DSC0037.jpg', :width => '1100', :height => '1656')
= photo(:src => '//cdn.matsimitsu.com/usa2011/rocky-mountains-nat-park/DSC0045.jpg', :width => '1100', :height => '730')
= photo(:src => '//cdn.matsimitsu.com/usa2011/rocky-mountains-nat-park/rockies_pan3.jpg', :class => 'full')
