---
title: "Day Sixteen"
date: 2015-11-20 00:00:00 UTC
locations:
  -
    title: 'Roppongi'
    latlng: [35.6641222, 139.729426]
---

%p After seeing the Muji store <a href="http://matsimitsu.com/travel/japan2015/day-fifteen/" target="_blank">yesterday</a>. I wondered what else Tokyo had to offer in terms of design. After a quick google I found an exhibition about architecture from the <a href="http://designhub.jp/en/" target="_blank">Tokyo Design Hub</a>. It was in Roppongi, a part of Tokyo I haven't visited before.

%img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-12-2200x.jpg', :width => '1100', :height => '733'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-13-2200x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-15-2200x.jpg', :width => '1100', :height => '733'}
%img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-14-2200x.jpg', :width => '1100', :height => '733'}

%img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-1-2200x.jpg', :width => '1100', :height => '730'}

%p The exhibition was off limits for photography, as in you couldn't make close-up shots of the projects. Most of the projects explained the design choises of the buildings to fit their surroundings and the architectural process in general.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-16-2200x.jpg', :width => '1100', :height => '733'}

%p After strolling through the exhibition for a while I headed to another exhibition at the Roppongi Hills tower. As usual I got lost..
%img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-2-2200x.jpg', :width => '1100', :height => '730'}

%p In this park I noticed a lot of lights hanging in the trees and on the grass.
.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-3-2200x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-1-2-2200x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-7-2200x.jpg', :width => '1100', :height => '730'}

%p Speaking of noticing things, there are a lot of unusual things placed on roofs.
.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-19-1666x.jpg', :width => '733', :height => '1100'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-17-2200x.jpg', :width => '1100', :height => '620'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-18-1666x.jpg', :width => '733', :height => '1100'}

%p Finally I maded it to the Roppongi Hills tower. Before I went up, I was still in doubt if I should do it, I've already been up the SKYTREE and the Tokyo Metropolitain Government Building, but according to TripAdvisor and other online sources Roppongi Hills is the best one.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-6-2200x.jpg', :width => '1100', :height => '730'}

%p There are three choises for tickets, a star tour, an art museum and a changing exhibition. I went for the Art museum and a trip to the sky deck.
%img.full{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-20-2200x.jpg', :width => '1100', :height => '733'}
%p Turns out I made the right choice, I really dig this art style and the murals are amazing.

.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-22-2200x.jpg', :width => '1100', :height => '727'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-33-1666x.jpg', :width => '733', :height => '1100'}

%p The artist is <a href="https://www.instagram.com/takashipom" target="_blank">Takashi Murakami</a> and he calls this style "Superflat".
%img.full{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-21-2200x.jpg', :width => '1100', :height => '733'}

%p These are just tiny details of huge murals.
.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-27-2200x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-23-2200x.jpg', :width => '1100', :height => '733'}

%img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-35-2200x.jpg', :width => '1100', :height => '733'}

%p My plan was to catch the "golden hour" (the hour when the sun sets and casts indirect light) on the sky deck, but I spent way to much time looking at these murals. When I was done it was dark outside.
%img.full{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-10-2200x.jpg', :width => '1100', :height => '730'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-36-2200x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-38-2200x.jpg', :width => '1100', :height => '733'}
%img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-37-2200x.jpg', :width => '1100', :height => '733'}
%img.full{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-11-2200x.jpg', :width => '1100', :height => '731'}

%p After also spending way to much time up on the sky deck my stomach was telling me it was Sushi time. But not before backtracking to the park where I saw the lights in the trees, to see what was up.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-39-2200x.jpg', :width => '1100', :height => '733'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-40-2200x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-41-1666x.jpg', :width => '733', :height => '1100'}
%img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-42-2200x.jpg', :width => '1100', :height => '733'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-43-2200x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-44-2200x.jpg', :width => '1100', :height => '733'}

%p The Sushi was made right in front of me by chefs that were fast and meticulous, a joy to watch.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-45-2200x.jpg', :width => '1100', :height => '733'}

%p After dinner and a few beers it was time to take the train home.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-sixteen/image-46-2200x.jpg', :width => '1100', :height => '733'}
