---
title: "Day Fourteen"
subtitle: "Hiroshima"
date: 2014-05-28 13:07:38 UTC
locations:
  -
    title: Hiroshima
    latlng: [34.395472, 132.453528]
---
%p Today is a travel day, we're heading for Hiroshima.

%img{:src => '//cdn.matsimitsu.com/asia2014/day-fourteen/travel-1-1100x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-fourteen/travel-2-1100x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-fourteen/travel-3-1100x.jpg', :width => '1100', :height => '730'}
%p It was 34 degrees so we took it easy.
%img{:src => '//cdn.matsimitsu.com/asia2014/day-fourteen/travel-4-1100x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-fourteen/travel-5-1100x.jpg', :width => '1100', :height => '730'}
%p The only thing on our program today was visiting the "Dome" and the memorial.

%img{:src => '//cdn.matsimitsu.com/asia2014/day-fourteen/random-1-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-fourteen/travel-7-1100x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-fourteen/travel-8-1100x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-fourteen/travel-9-1100x.jpg', :width => '1100', :height => '730'}

%img{:src => '//cdn.matsimitsu.com/asia2014/day-fourteen/travel-10-1100x.jpg', :width => '1100', :height => '730'}

%p After that we took some back alleys to our hotel and relaxed for a bit.
.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-fourteen/travel-11-1100x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-fourteen/travel-12-733x.jpg', :width => '730', :height => '1100')

%p We ended the day with some delicious Okonomiyaki.

%img{:src => '//cdn.matsimitsu.com/asia2014/day-fourteen/food-1-1100x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-fourteen/food-2-1100x.jpg', :width => '1100', :height => '730'}
