---
title: "Day Thirteen"
subtitle: Hoi An
date: 2015-05-17 12:54:36 UTC
locations:
  -
    title: 'Hoi An'
    latlng: [15.8800584, 108.3380469]
---

%p One of the "must visit" places around Da Nang is Hoi An, an UNESCO heritage site with very well preserved buildings from the 15th - 19th century.

.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-thirteen/image-1-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-thirteen/image-6-1100x.jpg', :width => '1100', :height => '733'}

%p To be honest, we didn't really like this place. It felt like one giant tourist trap and all the old "heritage buildings" are basically souvenir shops or restaurants.

%img{:src => '//cdn.matsimitsu.com/asia2015/day-thirteen/image-7-1100x.jpg', :width => '1100', :height => '733'}

%p After our lunch a thunderstorm was slowly making it's way to the town. You know "shit's on" when even the tourist shop ladies pack their stuff and leave.

.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-thirteen/image-8-1100x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-thirteen/image-9-1100x.jpg', :width => '1100', :height => '733'}

%p
  We opted to settle down in a restaurant and enjoy a few cold beers. While we were there we met a Canadian guy and spent all afternoon and evening chatting. Before we knew it, the storm was over and it was almost time for our driver to pick us up.

%img{:src => '//cdn.matsimitsu.com/asia2015/day-thirteen/image-3-1100x.jpg', :width => '1100', :height => '730'}

%p We made our way back to the pick-up point by following the canal, that became more and more saturated with floating lights, the main reason people visit Hoi An.

.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-thirteen/image-4-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-thirteen/image-11-734x.jpg', :width => '733', :height => '1100'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-thirteen/image-2-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-thirteen/image-5-1100x.jpg', :width => '1100', :height => '730'}
