---
title: Day twenty - Day twenty one
date: 2017-05-25
subtitle: Malang <i class="fa fa-train"></i>  Banyuwangi <br /> Sick day
header: DSC05908.jpg
hotel:
  name: Hotel Santika Banyuwangi
  address: Jl. Letjend S.parman No. 15, 68418 Banyuwangi, Indonesia
  image: https://t-ec.bstatic.com/images/hotel/max500/461/46102749.jpg
  url: https://www.booking.com/hotel/id/santika-banyuwangi.html?aid=939121
  description: Offering an outdoor swimming pool, free WiFi access and an on-site
    restaurant, Hotel Santika Banyuwangi is located just a 10-mintue drive from Banyuwangi...
  rating: 8.1
---

%p Not much to report, we spent 8 hours in an economy-class train (the seats were afwful, but otherwise the trip was enjoyable). Only to be dropped at a remote train station near Banyuwangi. From there we had an Uber to the hotel.
= photo(:src => cdn_url('asia2017/day-twenty/DSC05909-1.jpg'), :ratio => 1.5)

%p The next day was spent in bed due to sickness. That evening we were supposed to go to the Ijen crater.
