---
title: Day six
date: 2017-05-10
locations: []
header: DSC05216.jpg
subtitle: Hong Kong <i class="fa fa-plane"></i> Kuala Lumpur <i class="fa fa-plane"></i> Singapore

---

%p We spent the entire day making our way from Hong Kong to Singapore via Kuala Lumpur, so no photo's today :)
