---
title: Day six
date: 2017-05-10
locations: []
header: DSC05216.jpg
subtitle: Hong Kong <i class="fa fa-plane"></i> Kuala Lumpur <i class="fa fa-plane"></i> Singapore
hotel:
  name: Destination Singapore Beach Road
  address: 700 Beach Road, 199598 Singapore, Singapore
  image: https://t-ec.bstatic.com/images/hotel/max500/101/101624631.jpg
  url: https://www.booking.com/hotel/sg/destination-singapore-beach-road.html?aid=939121
  description: Located minutes away from the hustle and bustle of the Central Business
    District, Destination Singapore Beach Road offers accommodation in Singapore.
  rating: 8.1
---

%p We spent the entire day making our way from Hong Kong to Singapore via Kuala Lumpur, so no photo's today :)
