---
title: Day twenty three
subtitle: Banyuwangi <i class="fa fa-plane"></i> Surabaya
header: DSC05968.jpg
date: 2017-05-28
hotel:
  name: Premier Inn Surabaya Juanda
  address: Jl. Raya Juanda No. 73, 61254 Sidoarjo, Indonesia
  image: https://t-ec.bstatic.com/images/hotel/max500/613/61375988.jpg
  url: https://www.booking.com/hotel/id/premier-inn-surabaya-juanda.html?aid=939121
  description: Located in Sidoarjo in the region of Jawa Timur, 6 miles from Surabaya,
    Premier Inn Surabaya Juanda features an outdoor pool and views of the pool.
  rating: 8.7
---

%p A travel day today. From Banyuwangi to Surabaya by (prop) plane. What you see below is the (entire) Banyuwangi terminal.
= photo(:src => cdn_url('asia2017/day-twenty-three/DSC05965.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2017/day-twenty-three/DSC05966.jpg'), :ratio => 3.022, :class => 'full')
= photo(:src => cdn_url('asia2017/day-twenty-three/DSC05969.jpg'), :ratio => 1.5)
%p Other then that relaxing at the hotel :)
