---
title: "Day Ten"
subtitle: "Hakone"
date: 2014-05-24 12:23:54 UTC
locations:
  -
    title: Hakone
    latlng: [35.2478018, 139.0008983]
---

%p
  We took the "Rapid" train from Shinjuku to Odawara, where we got on a bus to Hakone.

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-ten/day-ten-1.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/asia2014/day-ten/day-ten-2.jpg', :width => '1100', :height => '729')
%p
  One of the goals was to see Mt. Fuji. As you can see the fog kinda made that impossible.
  So we took a nice relaxing Onsen in our 70's hotel.

= photo(:src => '//cdn.matsimitsu.com/asia2014/day-ten/day-ten-4.jpg', :width => '1100', :height => '729')
