---
title: "Day Fifteen"
subtitle: Da Nang <i class="fa fa-plane"></i> Hanoi
date: 2015-05-19 12:54:36 UTC
locations:
  -
    title: 'Da Nang, Vietnam'
    latlng: [16.0544068, 108.2021667]
  -
    title: 'Hanoi, Vietnam'
    latlng: [21.0277644, 105.8341598]
---

%p Another travel day :)
