---
title: "Day Twenty Seven"
date: 2015-05-31 00:00:00 UTC
locations:
  -
    title: "People's Square"
    latlng: [31.232844, 121.47537]
  -
    title: 'Yuyuan Garden'
    latlng: [31.228112, 121.487387]
  -
    title: '1933 Old Millfun'
    latlng: [31.254525, 121.491702]
---

%p This is our last day on our trip and after checking out we went to the People's Square, thinking it would look kind of the same as it does in Beijing (It doesn't). Some of the government buildings do look like a copy/paste version of the one in Beijing (or the other way around).

%img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-1-1100x.jpg', :width => '1100', :height => '730'}
.photo-row
  %img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-3-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-4-1100x.jpg', :width => '1100', :height => '789'}

.photo-row
  %img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-8-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-2-1100x.jpg', :width => '1100', :height => '730'}
%img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-9-1100x.jpg', :width => '1100', :height => '730'}

.photo-row
  %img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-6-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-7-1100x.jpg', :width => '1100', :height => '730'}

%p After a lap of the buildings we took the subway to Yuyuan Garden
%img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-11-1100x.jpg', :width => '1100', :height => '730'}

.photo-row
  %img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-10-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-12-1100x.jpg', :width => '1100', :height => '730'}
%h2 Yuyuan Garden

%p Yuyuan Gardenis a Chinese garden, but today mostly a tourist hotspot. As soon as you get out of the subway you'll have people trying to sell you anything, sometimes it's like walking through a TellSell commercial. Allthough it was super busy on this Sunday afternoon, the dumplings we had here were very good.

%img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-14-1100x.jpg', :width => '1100', :height => '730'}
.photo-row
  %img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-17-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-17-1100x.jpg', :width => '1100', :height => '730'}
%img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-16-1100x.jpg', :width => '1100', :height => '730'}

%p After the dumplings we headed to "Central Perk", the great thing about Chinese copyright is that it doesn't really exist. So anyone can re-create a TV-set cafee to look like the one in Friends.

%img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-33-1100x.jpg', :width => '1100', :height => '733'}

%h2 Old Millfun
%p As you can see, it was really busy inside Central Perk and in the neighbourhood there was another "hidden gem". A 1933's art-deco building that would make a great location for small companies.

.photo-row
  %img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-22-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-25-1100x.jpg', :width => '1100', :height => '730'}

%p The surroundings of this building were also really nice. You can sense that this neighbourhood is up-and-coming, with lots of new coffee places and art galleries. The downside is that they were also in the process of tearing the old houses down.

%img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-19-1100x.jpg', :width => '1100', :height => '730'}

%img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-23-1100x.jpg', :width => '1100', :height => '730'}

%img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-26-1100x.jpg', :width => '1100', :height => '707'}

.photo-row
  %img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-27-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-23-1100.jpg', :width => '1100', :height => '942'}
%img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-35-1100x.jpg', :width => '1100', :height => '733'}

.photo-row
  %img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-34-1100x.jpg', :width => '1100', :height => '733'}
  %img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-37-1100x.jpg', :width => '1100', :height => '733'}

%img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-28-1100x.jpg', :width => '1100', :height => '730'}

%p At this point we had to stop our adventure in the neighbourhood to head back to the hotel to pick up our bags and head to the airport for our flight home.

%img{:src => 'http://cdn.matsimitsu.com/asia2015/day-twenty-seven/image-50-1100x.jpg', :width => '1100', :height => '730'}
