---
title: "Day Five"
date: 2015-11-09 00:00:00 UTC
locations:
  -
    title: 'Kachidoki'
    latlng: [35.65821030000001, 139.7771615]
---

%p Today was a work day, so not much going on photography wise. Here's a picture of a very tall building :)

= photo(:src => '//cdn.matsimitsu.com/japan2015/day-five/image-2.jpg', :width => '733', :height => '1100')
