---
title: "Portland"
date: 2011/06/18
locations:
  -
    title: Portland
    latlng: [45.5234515, -122.6762071]
---
%p
  We drove over 7000 miles, ate amazing food, met awesome people and slept in dodgy motels. All in all a month to remember!
