---
title: "Yosemite Nat. Park"
date: 2011/06/17
locations:
  -
    title: Yosemete
    latlng: [37.8651011, -119.5383294]
---

%p
  What a great views this park has. And it's really fun to drive. We spent most of the day in this park before we realised it would take us a lot of time to get to the nearest hotel. So manned up and drove straight to Reno, Nevada where we arrived at eleven in the evening.
