.overview.images
  - articles.each do |article|
    = link_to article.url, {:style => "background-image: url('#{resize '10x', article.data.header}')", 'data-bg-src' => cdn_url(article.data.header)} do
      .heading
        %h1= article.title
        - if article.data.subtitle
          %h2= article.data.subtitle

