---
blog: Travel
title: 'Asia 2016'
slug: 'asia2016'
subtitle: 'Exploring South East Asia (again).'
stats:
  flights: 11
  countries: 4
  photos taken: 3977
date:
  month: May
  year: 2016
---
= partial('trip_overview')
