---
blog: Asia 2016
site_header: dark
---
%header.mod-page-title
  %h1 Asia 2016
  %h2 Exploring Taiwan, Thailand, Cambodia and Laos. Starting May 2016


%img{:src => '//cdn.matsimitsu.com/asia2016/map-1100x.jpg', :width => '1100', :height => '813'}
