---
blog: Travel
title: 'Japan 2015'
slug: 'japan2015'
subtitle: 'Exploring Tokyo.'
stats:
  days: 20
  photos taken: 2239
  tasty meals: '&infin;'
date:
  month: November
  year: 2015
overview_map:
  zoom: 7
  center: [35.1575,138.4552]
---
= partial('trip_overview')
