---
blog: Asia 2015
site_header: dark
---
%header.mod-page-title
  %h1 Asia 2015
  %h2 Exploring South East Asia.

#map.overview{'data-mapbox-id' => 'matsimitsu.f687427c', 'data-center' => [8.3843, 105.2051].to_json, 'data-zoom' => 4, 'data-zoom-control' => 'false', 'data-locations' => page_articles.map { |a| a.data.locations.map { |loc| {:latlng => loc.latlng, :title => "[#{a.title}] #{loc.title}", :url => a.url} } }.flatten.to_json }


%ul.mod-trip-overview
  %li
    <strong>10</strong> Flights
  %li
    <strong>6</strong> Countries
  %li
    <strong>1200</strong> Photos

  %li.right
    <strong>May</strong>
    2016
.mod-visual-overview
  - page_articles.reverse.each do |article|
    = partial '_overview', :locals => {:article => article}
