---
title: "Day One"
subtitle: "Temple of Heaven"
date: 2014-05-15 12:54:36 UTC
locations:
  -
    title: 'Temple of Heaven'
    latlng: [39.883704, 116.41284]
---

%p
  After an 8.5 hour flight from Amsterdam and a very confusing ride to
  our hotel we finally made it to Beijing!

%p
  We decided to head to the Temple of Heaven, a giant park with temples and
  people playing card games.

%img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-4-1100x.jpg', :width => '1100', :height => '729'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-2-1100x.jpg', :width => '1017', :height => '676'}
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-3-1100x.jpg', :width => '1017', :height => '676'}

%p
  Due to the smog, this is as blue as the sky can get!

%img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-5-1100x.jpg', :width => '1100', :height => '731'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-6-730x.jpg', :width => '731', :height => '1100'}
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-7-1100x.jpg', :width => '1100', :height => '731'}

%p
  This is the 70 year gate, built for the emperor to take a shortcut so he didn't have to walk that far due to his age.
%p
  He didn't want his children to use this gate so he made a rule that only emperors above the age of 70 can use this gate. After his death no other emperor made it to the age of 70, so the gate has been unused since then.

%img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-9-1100x.jpg', :width => '1100', :height => '731'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-10-1100x.jpg', :width => '1100', :height => '731'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-11-730x.jpg', :width => '731', :height => '1100'}
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-12-1100x.jpg', :width => '1100', :height => '731'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-8-1100x.jpg', :width => '1100', :height => '731'}
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-15-1100x.jpg', :width => '1100', :height => '786'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-16-1100x.jpg', :width => '1100', :height => '731'}
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-17-1100x.jpg', :width => '1100', :height => '731'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-18-1100x.jpg', :width => '1100', :height => '731'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-19-1100x.jpg', :width => '1100', :height => '731'}
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-20-1100x.jpg', :width => '1100', :height => '731'}
%p
  After the visit to the park we decided to walk back to our hotel instead of taking the subway.
  It was a long walk...
.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-21-730x.jpg', :width => '731', :height => '1100'}
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-23-1100x.jpg', :width => '1100', :height => '731'}
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-22-349x.jpg', :width => '698', :height => '1100'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-24-1100x.jpg', :width => '1100', :height => '731'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-25-1100x.jpg', :width => '1100', :height => '731'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-26-1100x.jpg', :width => '1100', :height => '731'}
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-27-1100x.jpg', :width => '1100', :height => '728'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-28-1100x.jpg', :width => '1100', :height => '731'}
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-one/day-on1-29-1100x.jpg', :width => '1100', :height => '731'}
