---
title: "Day Nine"
subtitle: Kuala Lumpur <i class="fa fa-plane"></i> Ho Chi Minh
date: 2015-05-13 12:54:36 UTC
video: true
locations:
  -
    title: 'Kuala Lumpur'
    latlng: [3.139003, 101.686855]
  -
    title: 'Ho Chi Minh'
    latlng: [10.8230989, 106.6296638]
---

%p A slow day today, waking up, getting some coffee, wander around the KL Central park and heading to the airport to fly to Ho Chi Minh.

%video.video{:width => '100%', :loop => 'loop'}
  %source{:src =>'/asia2015/day-nine/videos/header.mp4', :type=>'video/mp4'}
  %source{:src =>'/asia2015/day-nine/videos/header.ogv', :type=>'video/ogg'}
  %source{:src =>'/asia2015/day-nine/videos/header.webm', :type=>'video/webm'}
