---
kind: article
date: 14-02-2017
title: Szechuan Chicken Wings
source: http://www.thewolfepit.com/2016/10/beer-braised-szechuan-chicken-wings.html
header: 'food/spicy-korean-chicken.jpg'
tags:
- Asian
---

For the Chicken

* 200gr Chicken
* ½ cup Soy sauce
* ¼ cup Light brown suger
* ¼ cup Rice vinegar
* 1 bottle of Pale Ale
* 2 Tbs. Minced garlic
* 4 Slices of ginger
* 1 Star anise
* 1 tsp. 5 Spice powder
* 1 tsp. Szechuan Peppercorns
* 2 Tbs. Red chili flakes
* 1 Bunch of green onions
* 2 Tbs. Butter


Put everything except for the butter into a large skillet and bring to a boil.
Reduce the heat and simmer for 1 hour uncovered (and open a window, you can smell this days later).

Remove wings and drain on a wire rack. Then refrigerate for an hour (or over night).

Strain the remaining sauce into a smaller pan and keep refrigerated if you're eating the wings the next day.

When eating, put wings into an oven at 220 for ~20 minutes. Heat up the sauce in a pan and pour over the wings, if done correctly it should looks something like this:

<div class="photo-row">
<%= photo(:src => cdn_url('food/spicy-korean-chicken1.jpg'), :ratio => 1.5) %>
</div>
