---
blog: Food
title: Food
---
#header
  %h1 What's Cookin'
  %h2
    Recipe's I found on the internet and like.
    %br

.content-wrapper
  = partial('overviews/food', :locals => {:articles => page_articles})
