---
title: "Dead horse state park"
date: 2011/06/13
locations:
  -
    title: Dead horse state park
    latlng: [38.5083333, -109.7422222]
---

%p
  With a little more daylight left in the day after visiting Arches we decided to take a quick detour to Dead Horse Point State park (gotta use that National Park pass!)

%img{:src => '//cdn.matsimitsu.com/usa2011/dead-horse-state-park/DSC0423-Edit-1280x.jpg', :width => '1280', :height => '416'}
%img{:src => '//cdn.matsimitsu.com/usa2011/dead-horse-state-park/DSC0428-Edit-1280x.jpg', :width => '1280', :height => '498'}
