---
title: "Day One"
subtitle: Amsterdam <i class="fa fa-plane"></i> Singapore
date: 2015-05-05 12:54:36 UTC
locations:
  -
    title: 'Singapore'
    latlng: [1.352083, 103.819836]
---

%p Finally, after 17 hours of traveling we've arrived at our hotel in Singapore. Since it's 20:00 in the evening and we're up for 30+ hours, today is going to be short. We visited one of the Hawker centre, a covered square of food stalls and ate some delicous Hainanese fried rice.


= photo(:src => '//cdn.matsimitsu.com/asia2015/day-one/DSC01395.jpg', :width => '1100', :height => '734')

%p After dinner it's back to the hotel for the first good night's sleep.
.columns

  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-one/DSC01400.jpg', :width => '1100', :height => '734')
  = photo(:src => '//cdn.matsimitsu.com/asia2015/day-one/DSC01404.jpg', :width => '734', :height => '1100')
