---
title: "Day Thirteen"
subtitle: "Arashiyama Bamboo Grove - Iwatayama Monkey Park - Kinkaku-ji Buddhist Temple"
date: 2014-05-27 11:01:37 UTC
locations:
  -
    title: Arashiyama Bamboo Grove
    latlng: [35.015096, 135.670667]
  -
    title: Iwatayama Monkey Park
    latlng: [35.008938, 135.674681]
  -
    title: Kinkaku-ji Buddhist Temple
    latlng: [35.039444, 135.729444]

---

%p After a nice cup of coffee we headed to the Arashiyama Bamboo Grove.
.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-2-1100x.jpg', :width => '1100', :height => '729'}
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-3-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-1-1100x.jpg', :width => '1100', :height => '729'}

%p It was pretty nice, but it took us only 10 minutes to get through it and back again. Luckily for us, there was a monkey park across the river.

%img{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-4-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-5-1100x.jpg', :width => '1100', :height => '729'}

%p The park was on the top of a mountain and it took us quite a while to get there.

%img.full{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/panorama-1-2200x.jpg'}

%p A nice touch is that you can only feed monkeys when you are in a cage. The monkeys roam around freely.

%img{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-6-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-7-1100x.jpg', :width => '1100', :height => '729'}
%p This was taken within the cage.
%img{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-9-1100x.jpg', :width => '1100', :height => '729'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-10-1100x.jpg', :width => '1100', :height => '729'}
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-11-1100x.jpg', :width => '1100', :height => '729'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-12-1100x.jpg', :width => '1100', :height => '729'}
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-13-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-14-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-15-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-16-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-17-1100x.jpg', :width => '1100', :height => '729'}
%p
  Next up was the Golden temple (Kinkaku-ji). We took a very nice train to the temple.
%img{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-18-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-19-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-20-1100x.jpg', :width => '1100', :height => '729'}
%img.full{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-21-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-22-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-23-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-thirteen/day-thirteen-24-1100x.jpg', :width => '1100', :height => '729'}
