---
title: "Day Nineteen"
subtitle: "Nagashima Spa land"
date: 2014-06-02 10:43:31 UTC
locations:
  -
    title: Nagashima Spa land
    latlng: [35.02946, 136.730282]
---
%p Today we decided to visit a Japanese themepark called Nagashima Spa land. It has 11 Rollercoasters packed into a tiny area.

%p The main attraction is the Steel Dragon 2000. It tops out at 153 Km/h and takes around four minutes. The first hill is almost 100 meters tall. (For the Dutch readers, Goliath in Walibi is half that height).

.photo-row
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-nineteen/image-1-1100x.jpg', :width => '1100', :height => '730')
  = photo(:src => '//cdn.matsimitsu.com/asia2014/day-nineteen/image-8-1100x.jpg', :width => '1100', :height => '730')

%p The rest of the day was spent trying out all the other coasters and rides. Because we visited on a monday there were almost no queue's and most of the time we could step right into the cars.
%img{:src => '//cdn.matsimitsu.com/asia2014/day-nineteen/image-7-1100x.jpg', :width => '1100', :height => '730'}

%img{:src => '//cdn.matsimitsu.com/asia2014/day-nineteen/image-2-1100x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-nineteen/image-3-1100x.jpg', :width => '1100', :height => '730'}

%video.video{:width => '100%', :loop => 'loop'}
  %source{:src =>'/asia2014/day-nineteen/videos/ship.mp4', :type=>'video/mp4'}
  %source{:src =>'/asia2014/day-nineteen/videos/ship.ogv', :type=>'video/ogg'}
  %source{:src =>'/asia2014/day-nineteen/videos/ship.webm', :type=>'video/webm'}

%img{:src => '//cdn.matsimitsu.com/asia2014/day-nineteen/image-4-1100x.jpg', :width => '1100', :height => '730'}
%img.full{:src => '//cdn.matsimitsu.com/asia2014/day-nineteen/image-5-2200x.jpg', :width => '1100', :height => '730'}

%p Besides Rollercoasters there were a lot of very weird rides.

%video.video{:width => '100%', :loop => 'loop'}
  %source{:src =>'/asia2014/day-nineteen/videos/freefall.mp4', :type=>'video/mp4'}
  %source{:src =>'/asia2014/day-nineteen/videos/freefall.ogv', :type=>'video/ogg'}
  %source{:src =>'/asia2014/day-nineteen/videos/freefall.webm', :type=>'video/webm'}

%img{:src => '//cdn.matsimitsu.com/asia2014/day-nineteen/image-6-1100x.jpg', :width => '1100', :height => '730'}

%video.video{:width => '100%', :loop => 'loop'}
  %source{:src =>'/asia2014/day-nineteen/videos/corkscrew.mp4', :type=>'video/mp4'}
  %source{:src =>'/asia2014/day-nineteen/videos/corkscrew.ogv', :type=>'video/ogg'}
  %source{:src =>'/asia2014/day-nineteen/videos/corkscrew.webm', :type=>'video/webm'}

%p We ended the day with a nice dinner.
%img{:src => '//cdn.matsimitsu.com/asia2014/day-nineteen/image-9-1100x.jpg', :width => '1100', :height => '730'}
