---
title: "Day three"
date: 2015-11-06 00:00:00 UTC
locations:
  -
    title: 'Asakusa'
    latlng: [35.7118881, 139.796686]
  -
    title: 'Tokyo Skytree'
    latlng: [35.7100876, 139.8106698]
---

%p With no set goal today, I just started wandering the neighborhoods in the area of my hotel.

%img{:src => '//cdn.matsimitsu.com/japan2015/day-three/image-1-2200x.jpg', :width => '1100', :height => '733'}

%p Japan's zoning laws <a href="http://urbankchoze.blogspot.jp/2014/04/japanese-zoning.html" target="_blank">are pretty cool</a>. Explained very basic: they can only zone upwards and "higher" zones will always include all zones below. E.g. Low density > High Density > Commercial > Industrial. Basically the thing zoned is nuisance level. This makes for very interesting neighborhoods.

%img{:src => '//cdn.matsimitsu.com/japan2015/day-three/image-10-2200x.jpg', :width => '1100', :height => '733'}

%p As space is scarce in Tokyo, every nook and cranny is used for something. For example the two shops under the train tracks.
.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-three/image-11-2200x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-three/image-2-2200x.jpg', :width => '1100', :height => '733'}

%p Just a stone's throw away from one of the highest structures in the world (The Tokyo SKYTREE) lies a calm residential neighborhood. You can see the SKYTREE structure in the background.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-three/image-8-2200x.jpg', :width => '1100', :height => '733'}

%p It's customary for new residents of a building to tear it down and replace it with their own (new) built home. This makes for a great mix of building ages.
.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-three/image-5-2200x.jpg', :width => '1100', :height => '1100'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-three/image-4-1466x.jpg', :width => '733', :height => '1100'}
%img{:src => '//cdn.matsimitsu.com/japan2015/day-three/image-9-2200x.jpg', :width => '1100', :height => '733'}

%p Over time the number of passengers increased and the trains became longer and longer. Now they almost don't fit the station building anymore.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-three/image-3-2200x.jpg', :width => '1100', :height => '733'}

%img{:src => '//cdn.matsimitsu.com/japan2015/day-three/image-7-2200x.jpg', :width => '1100', :height => '733'}

%p
  \- We should place cones here to show this passage is dangerous.
  %br
  \- How many?
  %br
  \- All of them!
  (This is only one hallway of the 5, stretching several hundred meters)
%img{:src => '//cdn.matsimitsu.com/japan2015/day-three/image-2-2-2200x.jpg', :width => '1100', :height => '733'}

%img{:src => '//cdn.matsimitsu.com/japan2015/day-three/image-3-2-2200x.jpg', :width => '1100', :height => '733'}

