---
title: "Day Twenty One"
subtitle: "Sa Pả - Day Two"
date: 2015-05-25 00:00:00 UTC
locations:
  -
    title: 'Sa Pả'
    latlng: [22.3564642, 103.8738031]
---

%p We expected the same kind of trek as yesterday, this time through the valley but still with lots of shops and other merchandize on our path. Luckily we had a very awesome tourguide that took us way out of the normal route and up the mountain and through the rice paddy's for some beautifull views.

%img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-2-1100x.jpg', :width => '1100', :height => '730'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-6-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-28-1100x.jpg', :width => '1100', :height => '733'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-1-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-24-734x.jpg', :width => '733', :height => '1100'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-7-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-8-1100x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-9-1100x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-10-1100x.jpg', :width => '1100', :height => '730'}

%p On our way we met plenty of wild-life, both flying and swimming.
.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-12-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-26-1100x.jpg', :width => '1100', :height => '719'}
%img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-19-1100x.jpg', :width => '1100', :height => '730'}

%img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-13-1100x.jpg', :width => '1100', :height => '730'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-14-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-17-731x.jpg', :width => '730', :height => '1100'}

%img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-15-1100x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-20-1100x.jpg', :width => '1100', :height => '730'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-22-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-36-1100x.jpg', :width => '1100', :height => '733'}
%img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-23-1100x.jpg', :width => '1100', :height => '730'}
%img.full{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-25-2200x.jpg', :width => '1100', :height => '733'}
%img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-29-1100x.jpg', :width => '1100', :height => '733'}

%p At the end of our day we walked through a little town with people hard at work in the rice fields.
%img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-31-1100x.jpg', :width => '1100', :height => '733'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-30-1100x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-33-1100x.jpg', :width => '1100', :height => '733'}

%img{:src => '//cdn.matsimitsu.com/asia2015/day-twenty-one/image-34-1100x.jpg', :width => '1100', :height => '647'}
