---
title: Blender
date: 2013-05-11 15:30 +02:00
background: '//cdn.matsimitsu.com/blog/blender/header.jpg'
subtitle: Picking up an old hobby
---

%p
  I've decided to get back into the whole 3D thing and tried out Blender instead of 3D Studio Max, my default software.
%p
  I'm a big fan of the low-poly isometric images Mr. Timothy J. Reynolds posts on [dribble](http://dribbble.com/turnislefthome). And i wanted to produce a similar result.
%p
  I started with 3D images back in high school with a little know program called AutoCad, yes i used AutoCad. The thing was that by following AutoCad tutorials you usually end up with a perfect floor plan to give to a construction worker, but it's not as shiny as something 3D Studio Max would produce. So it was time to switch.

%img{:alt => 'Wireframe', :src => '//cdn.matsimitsu.com/blog/blender/1.jpg'}
%p
  Back then it was mainly 3D studio vs Maya and other programs started to appear. I chose the one most people were using at the time, so tutorials and information was easier to find.
  Coming from 3D Studio back in they day when their versions still had numbers and i had a Windows PC, Blender is quite a different experience. The first couple of hours spent on this image was mainly getting familiar with the interface and learning the most important shortcuts.

%img{:alt => 'Wireframe', :src => '//cdn.matsimitsu.com/blog/blender/2.jpg'}
%p
  The scene is inspired by rural Japanese train stations, allthough it's hard to convey the rural look in low-poly objects. I made a quick sketch of what i wanted to make, so i could focus on modelling and not fiddling around with composition and camera angles.

%img{:alt => 'Sketch', :src => '//cdn.matsimitsu.com/blog/blender/schets.jpg'}
%p
  All in all i learned a ton about Blender, time for the next image :)

%img{:alt => 'Wireframe', :src => '//cdn.matsimitsu.com/blog/blender/wireframe.jpg'}
