---
title: Day fourty
date: 2017-06-15
subtitle: Osaka <i class="fa fa-plane"></i> Frankfurt <i class="fa fa-plane"></i> Amsterdam
header: DSC06601.jpg
---

%p After traveling for almost 24 hours, we're back in Amsterdam and this marks the end of this journey. Time to plan the next one :)

%p You can check out my other trips on the <a href="/travel">travel page</a>, see what gear I used on the <a href="/gear">gear page</a> or check out short trips and other photos on the <a href="/photoset">photos page</a>.

%p If you have any comments or remarks shoot me a tweet on <a href="https://twitter.com/matsimitsu" target="_blank">@matsimitsu on twitter</a>. Thank you for following along my travels and I hope to see you next time.
