---
title: "Day two"
date: 2015-11-06 00:00:00 UTC
locations:
  -
    title: 'Odaiba'
    latlng: [35.6247918, 139.77671]

---

%p Slightly less jet-lagged I headed to the nearest subway station to go to the "Rainbow bridge". Before arriving there I had to transfer at the "Shiodome station". So I took the opportunity to wander around near the station.

.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-two/image-3-2200x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-two/image-17-1466x.jpg', :width => '733', :height => '1100'}

%p I stumbled upon this giant clock. It's designed by Hayao Miyazaki of Studio Ghbli. Known for movies like "Spirited Away", "My neighbor Totoro" and "Princess Mononoke".

.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-two/image-1-2200x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-two/image-2-2200x.jpg', :width => '1100', :height => '733'}

%p It was time to head to the station of the Yurikamome Line. This line crosses the Rainbow bridge and is fully automated, so you can stand up front and see the Tokyo skyline.

%img{:src => '//cdn.matsimitsu.com/japan2015/day-two/image-10-2200x.jpg', :width => '1100', :height => '730'}

%p After exiting the train I walked down the boardwalk to take a few photo's of the Rainbow bridge. I was surprised to see a giant Statue of Liberty of New York fame.

%img{:src => '//cdn.matsimitsu.com/japan2015/day-two/image-4-2200x.jpg', :width => '1100', :height => '730'}

%img.full{:src => '//cdn.matsimitsu.com/japan2015/day-two/image-5-2200x.jpg', :width => '1100', :height => '733'}

%p It was lunchtime and after lunch I explored Odaiba. It's a relative new area and looks quite futuristic.

.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-two/image-19-2200x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-two/image-20-2200x.jpg', :width => '1100', :height => '733'}

%p I wanted to take a few photo's of the bridge in the dark, so I had a few hours to kill. Luckily it was possible to walk across the bridge (and back again).

.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-two/image-8-2200x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-two/image-9-2200x.jpg', :width => '1100', :height => '730'}

%p The view from the bridge is really nice.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-two/image-22-2200x.jpg', :width => '1100', :height => '733'}

%img.full{:src => '//cdn.matsimitsu.com/japan2015/day-two/image-24-2200x.jpg', :width => '1100', :height => '733'}

%p The crossing and return took enough time for the sunset to set in.
.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-two/image-25-2200x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-two/image-12-2200x.jpg', :width => '1100', :height => '730'}

%img{:src => '//cdn.matsimitsu.com/japan2015/day-two/image-26-2200x.jpg', :width => '1100', :height => '733'}

%p I claimed a random spot on the bridge and soon found myself surrounded by other people waiting for the sun to set.

%img{:src => '//cdn.matsimitsu.com/japan2015/day-two/image-27-2200x.jpg', :width => '1100', :height => '733'}

%p On the other side of the island is one of the biggest ferris wheels on earth, the Daikanransha with a whopping 115 meters.
.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-two/image-14-2200x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-two/image-16-2200x.jpg', :width => '1100', :height => '730'}

%p This being Japan, it's time to close this day with a picture of a giant robot.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-two/image-15-2200x.jpg', :width => '730', :height => '1100'}
