---
title: Day sixteen
date: 2017-05-21
subtitle: Yogyakarta <i class="fa fa-train"></i> Malang
header: DSC05638.jpg
hotel:
  name: Swiss-Belinn Malang
  address: Jalan Veteran No. 8A, 65145 Malang, Indonesia
  image: https://t-ec.bstatic.com/images/hotel/max500/318/31809143.jpg
  url: https://www.booking.com/hotel/id/swiss-belinn-malang.html?aid=939121
  description: Featuring an outdoor pool, gym and two dining options, Swiss-Belinn
    Malang is a 5-minute walk from Malang Town Square and MX Mall.
  rating: 7.9
---

%p We were rudely awoken by our alarm at 05:00 in the morning. Just in time to check out and head to the train station where we took the train from Yogyakarta to Surabaya.

= photo(:src => cdn_url('asia2017/day-sixteen/DSC05638.jpg'), :ratio => 1.5)

%p At Surabaya we took an Uber to the bus station and a bus to Malang. We arrived around 17:00 in the evening.
