---
blog: Travel
title: 'Asia 2017'
slug: 'asia2017'
header: 'day-one/DSC05023.jpg'
subtitle: 'Exploring Hong Kong, Macau, Singapore, Indonesia, Brunei and Japan'
date:
  month: May &amp; June
  year: 2017
stats:
  flights: 12
  countries: 6
  photos taken: 4.718
---
= partial('trip_overview')
