---
title: Day One
date: 2016-05-13
locations:
- title: Amsterdam > Taipei
  latlng:
  - 25.0329694
  - 121.5654177
stats:
  walked_kilometers: 7.6
  weather: Sunny
  temperature: 34 &deg;C
  feels_like: 40 &deg;C
---

%p After spending the last 20 hours in either a Train, Airplaine or Bus. We've finally arrived at our hotel in Taipei. We arrived late in the afternoon and only managed to get a quick byte to eat and walk around the block of the hotel before heading to bed to catch up on some sleep.

= photo(:src => cdn_url('asia2016/day-one/DSC03703.jpg'), :ratio => 1.5)

%p The Atrium of our hotel, if I didn't know any better, I'd swear this was in Las Vegas.

.columns
  = photo(:src => cdn_url('asia2016/day-one/DSC03704.jpg'), :ratio => 0.667)
  = photo(:src => cdn_url('asia2016/day-one/DSC03705.jpg'), :ratio => 1.5)
= photo(:src => cdn_url('asia2016/day-one/DSC03710.jpg'), :ratio => 1.5)
