---
title: "Day One"
date: 2015-11-05 00:00:00 UTC
locations:
  -
    title: 'Akihabara Electric Town'
    latlng: [35.7020691, 139.7753269]

---

%p Still jet-lagged I decided to sleep in and later headed to Akihabara Electric Town so I could get a Japanese (data) sim-card at the Yodabashi Camera store.

%img{:src => '//cdn.matsimitsu.com/japan2015/day-one/image-3-2200x.jpg', :width => '1100', :height => '619'}

%p After receiving the sim-card I wandered around the area, surrounded by trains.

%img{:src => '//cdn.matsimitsu.com/japan2015/day-one/image-4-2200x.jpg', :width => '1100', :height => '733'}

%p After a delicious bowl of noodles, I headed back to the hotel for more sleep. The last image is the view from my hotel room. It's surprisingly quiet, despite the highway right in front of my window.

.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-one/image-2-2200x.jpg', :width => '1100', :height => '1100'}

  %img{:src => '//cdn.matsimitsu.com/japan2015/day-one/image-5-2200x.jpg', :width => '1100', :height => '1100'}
