---
title: "Death Valley"
date: 2012/06/16
locations:
  -
    title: Death Valley Nat. Park
    latlng: [36.5053891, -117.0794082]
---

= photo(:src => '//cdn.matsimitsu.com/usa2012/death-valley/image-2-1100x.jpg', :width => '1100', :height => '729')
%img.full{:src => '//cdn.matsimitsu.com/usa2012/death-valley/panorama-1-2200x.jpg'}
= photo(:src => '//cdn.matsimitsu.com/usa2012/death-valley/image-3-1100x.jpg', :width => '1100', :height => '729')
= photo(:src => '//cdn.matsimitsu.com/usa2012/death-valley/image-4-1100x.jpg', :width => '1100', :height => '729')
%img.full{:src => '//cdn.matsimitsu.com/usa2012/death-valley/panorama-2-2200x.jpg'}
= photo(:src => '//cdn.matsimitsu.com/usa2012/death-valley/image-5-1100x.jpg', :width => '1100', :height => '729')
%img.full{:src => '//cdn.matsimitsu.com/usa2012/death-valley/panorama-3-2200x.jpg'}
