---
title: "Crater Lake"
date: 2011/06/17
locations:
  -
    title: Crater Lake
    latlng: [42.9446093, -122.1092454]
---

%p
  After visiting an auto museum in the biggest little city in the world (where the police was quite different from what i remembered from TV) we drove north to Crater Lake.

%img{:src => '//cdn.matsimitsu.com/usa2011/crater-lake/DSC0685-1100x.jpg', :width => '1100', :height => '717'}
%img{:src => '//cdn.matsimitsu.com/usa2011/crater-lake/DSC0903-1100x.jpg', :width => '1100', :height => '731'}
%img{:src => '//cdn.matsimitsu.com/usa2011/crater-lake/DSC0906-1100x.jpg', :width => '1100', :height => '731'}
%img{:src => '//cdn.matsimitsu.com/usa2011/crater-lake/DSC0933-Edit-3210x.jpg', :width => '1605', :height => '640'}
%img{:src => '//cdn.matsimitsu.com/usa2011/crater-lake/DSC0948-1100x.jpg', :width => '1100', :height => '1656'}
%img{:src => '//cdn.matsimitsu.com/usa2011/crater-lake/DSC0951-1100x.jpg', :width => '1100', :height => '731'}
%img{:src => '//cdn.matsimitsu.com/usa2011/crater-lake/DSC0953-1100x.jpg', :width => '1100', :height => '731'}
%img{:src => '//cdn.matsimitsu.com/usa2011/crater-lake/DSC0965-1100x.jpg', :width => '1100', :height => '731'}
%img{:src => '//cdn.matsimitsu.com/usa2011/crater-lake/DSC0971-1100x.jpg', :width => '1100', :height => '731'}
