---
title: Day thirty nine
date: 2017-06-14
locations:
- title: 'Universal Studios Japan'
  latlng:
  - 34.6654464
  - 135.4301495
header: DSC06592.jpg
hotel:
  name: Hotel Sakura Suite Osaka Juso
  address: 532-0025 Osaka Prefectuur, Osaka, Yodogawa-ku Shinkitano 1-7 , Japan
  image: https://t-ec.bstatic.com/images/hotel/max500/802/80241279.jpg
  priceRange: De prijzen voor de komende dagen beginnen vanaf € 48 per nacht (We bieden
    dezelfde prijs)
  url: https://www.booking.com/hotel/jp/sakura-suite-osaka-juso.nl.html?aid=939121
  map: https://maps.googleapis.com/maps/api/staticmap?center=34.7172853,135.4816416&markers=color:blue%7c34.7172853,135.4816416&size=1600x1200&sensor=false&zoom=15&client=gme-booking&channel=booking-frontend&signature=eCOO4D-JMBw-gRZJkEjjkRbCWfA=
  description: Hotel Sakura Suite Osaka Juso is situated in Osaka, 2.3 km from Billboard
    Live Osaka and 5 km from Osaka Castle. Guests can enjoy the on-site restaurant.
  rating: 8.5
---
%p After the <a href="http://localhost:4567/travel/usa2014/day-five-six/" target="_blank">USA roadtrip</a> a few years ago where we visited Universal Studios Orlando we wanted to see how Japan stacked up, so we headed for Universal Studios Japan. We bought tickets on the official website with the help of Google translate. This way we were able to purchase Express passes, as they were sold out on 3rd party sites.

= photo(:src => cdn_url('asia2017/day-thirty-nine/DSC06591.jpg'), :ratio => 2.326, :class => 'full')
%p The park was not too busy and in theory we could have done without the passes, we managed to do all rides at least once, but it's nice to skip a 1.5 hour queue every once in a while :)

= photo(:src => cdn_url('asia2017/day-thirty-nine/DSC06592.jpg'), :ratio => 1.5)
.columns
  = photo(:src => cdn_url('asia2017/day-thirty-nine/DSC06596.jpg'), :ratio => 1.5)
  = photo(:src => cdn_url('asia2017/day-thirty-nine/DSC06599.jpg'), :ratio => 1.5)
