---
title: Home
---
.content-wrapper
  #header
    %h1 Hi, I'm Robert Beekman
    %h2 Welcome to my site

  %article
    .body
      %p I'm a Software Engineer at <a href="https://appsignal.com" target="_blank">Appsignal.com</a> based in Amsterdam and you can find me on <a href="https://github.com/matsimitsu" target="_blank">GitHub</a>, <a href="https://twitter.com/matsimitsu" target="_blank">Twitter</a> and <a href="https://instagram.com/matsimitsu" target="_blank">Instagram</a>.

      %p During my spare time I like to <a href="/travel">travel</a>, <a href="/photoset">take pictures</a> and <a href="/blog">tinker around</a>  on my computer.

  %h2 My latest trips
  = partial('overviews/travel', :locals => {:trips => trips[0..2]})

  %h2 My latest photosets
  = partial('overviews/photoset', :locals => {:articles => blog('Photosets').articles[0..2]})
