---
title: "Day Eight"
date: 2015-11-12 00:00:00 UTC
locations:
  -
    title: 'Mt. Takao'
    latlng: [35.6251209, 139.2436593]
---

%p According to the Japan fall colors calendar, Mt. Takao should be beautiful this time of year, so I decided to check it out.

%img{:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-1-2200x.jpg', :width => '1100', :height => '730'}

%p Mt. Takao is about an hour away by train from downtown Tokyo

%img{:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-2-2200x.jpg', :width => '1100', :height => '730'}

%p On the mountain are several temples.

%img{:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-14-2200x.jpg', :width => '1100', :height => '733'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-3-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-16-1100x.jpg', :width => '1100', :height => '733'}

%img.full{:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-11-2200x.jpg', :width => '1100', :height => '730'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-22-1100x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-20-733x.jpg', :width => '733', :height => '1100'}

%p The main road up the mountain is very steep and quite busy. You can take a tramway or a ropeway up the mountain, but the queue's where ginormous so I decided to walk. Step away from the main road and it's beautifull and quiet.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-5-2200x.jpg', :width => '1100', :height => '730'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-6-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-4-1100x.jpg', :width => '1100', :height => '730'}

%img{:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-7-2200x.jpg', :width => '1100', :height => '730'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-9-1100x.jpg', :width => '1100', :height => '730'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-10-1100x.jpg', :width => '1100', :height => '730'}
%img{:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-13-2200x.jpg', :width => '1100', :height => '733'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-19-2200x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-17-2200x.jpg', :width => '1100', :height => '733'}

%p Every once and a while you can peek through the trees and see the villages below.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-21-2200x.jpg', :width => '1100', :height => '733'}

%p It started to get dark, so I headed back to Tokyo and found myself a nice burger place nearby. Then it was back to the hotel to give my legs some rest.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-23-2200x.jpg', :width => '1100', :height => '733'}
%img{:src => '//cdn.matsimitsu.com/japan2015/day-eight/image-24-2200x.jpg', :width => '1100', :height => '733'}
