.mod-article
  .body
    margin: 45px auto
    text-align: center
    z-index: 2
    position: relative
    overflow: hidden

    img, object, iframe, video, .gist, pre
      display: block
      margin: 0 auto 10px
      max-width: $max-width

      +max-device-width-retina(480px)
        width: 100%
        max-width: 100%

      &.full
        width: 100%
        max-width: 100%
        height: auto

    pre
      text-align: left
      border: 1px solid #dedede
      padding: 10px

    .photo-row
      width: 100%
      margin: 0 auto
      display: block
      max-width: $max-width
      overflow: hidden

      &:before,&:after
        content: ""
        display: table

      &:after
        clear: both

      img
        float: left
        vertical-align: bottom
        display: inline-block

    p
      max-width: 500px
      text-align: left
      margin: 40px auto

