figure, object, iframe, video, .gist, pre
  display: block
  margin: 0 auto
  padding-bottom: 10px
  line-height: 1em
  img
    width: 100%
    height: auto
    background: linear-gradient(rgba(#000,0), rgba(#000,0.7))
    display: block

  &.full
    width: 100vw
    max-width: 100%
    position: relative
    padding-left: 0
    padding-right: 0
    img
      max-width: 100%
