---
title: "Day Twelve"
subtitle: "Fushimi Inari - Kiyomizu-dera"
date: 2014-05-26 13:18:59 UTC
locations:
  -
    title: Fushimi Inari
    latlng: [34.9686518, 135.7709737]
  -
    title: Kiyomizu-dera
    latlng: [34.9948561, 135.7850463]
---
%p First stop of the day: the Fushimi Inari shrine. It's built on a mountain and has hundreds of "Tori gates" leading up to it.

%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-1-1100x.jpg', :width => '1100', :height => '729'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-2-1100x.jpg', :width => '1100', :height => '729'}
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-3-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-4-1100x.jpg', :width => '1100', :height => '729'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-5-1100x.jpg', :width => '1100', :height => '729'}
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-6-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-7-1100x.jpg', :width => '1100', :height => '729'}

%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-9-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-10-1100x.jpg', :width => '1100', :height => '729'}

%p At some point we got of the Tori gate path and explored the forest.
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-11-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-12-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-13-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-14-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-15-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-16-1100x.jpg', :width => '1100', :height => '729'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-17-1100x.jpg', :width => '1100', :height => '729'}
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-18-1100x.jpg', :width => '1100', :height => '729'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-19-1100x.jpg', :width => '1100', :height => '792'}
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-20-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-21-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-22-1100x.jpg', :width => '1100', :height => '729'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-23-1100x.jpg', :width => '1100', :height => '729'}
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-24-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-25-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-26-1100x.jpg', :width => '1100', :height => '729'}
%p Back down from the montain we got a nice lunch snack: Meat on a stick.

%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-27-1100x.jpg', :width => '1100', :height => '729'}

%p After lunch we took the train back to Kyoto station and from there we went by subway and on foot to the Kiyomizu-dera shrine.


%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-28-1100x.jpg', :width => '1100', :height => '729'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-29-1100x.jpg', :width => '1100', :height => '729'}
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-30-730x.jpg', :width => '729', :height => '1100'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-31-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-32-1100x.jpg', :width => '1100', :height => '729'}

%p There were a couple of routes up the montain, most were past shops, but we took the one across a cemetery. It also had started to rain and it wouldn't stop untill late that evening.

%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-33-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-34-1100x.jpg', :width => '1100', :height => '729'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-35-1100x.jpg', :width => '1100', :height => '729'}
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-36-1100x.jpg', :width => '1100', :height => '729'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-37-1100x.jpg', :width => '1100', :height => '729'}
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-38-1100x.jpg', :width => '1100', :height => '729'}

%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-40-1100x.jpg', :width => '1100', :height => '729'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-41-1100x.jpg', :width => '1100', :height => '729'}
  %img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-42-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-43-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-44-1100x.jpg', :width => '1100', :height => '729'}
%img{:src => '//cdn.matsimitsu.com/asia2014/day-twelve/day-twelve-45-1100x.jpg', :width => '1100', :height => '729'}
