---
title: "Day Fourteen"
date: 2015-11-19 00:00:00 UTC
locations:
  -
    title: 'Ginza'
    latlng: [35.67208919999999, 139.770592]
  -
    title: 'Shimbashi'
    latlng: [35.6650229, 139.7566097]
---

%p After a morning of work it was time to head into the city. On the program today was get a few shirts at Uniqlo in their biggest store here in Japan (12 stories).
%img{:src => '//cdn.matsimitsu.com/japan2015/day-fifteen/image-8-2200x.jpg', :width => '1100', :height => '733'}

%img{:src => '//cdn.matsimitsu.com/japan2015/day-fifteen/image-1-2200x.jpg', :width => '1100', :height => '733'}

%p Even the food trucks come in extra small.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-fifteen/image-5-2200x.jpg', :width => '1100', :height => '733'}
%img{:src => '//cdn.matsimitsu.com/japan2015/day-fifteen/image-7-2200x.jpg', :width => '1100', :height => '733'}
%p There are lots of small alleys near Shimbashi station.

%img{:src => '//cdn.matsimitsu.com/japan2015/day-fifteen/image-9-2200x.jpg', :width => '1100', :height => '733'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-fifteen/image-10-2200x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-fifteen/image-11-2200x.jpg', :width => '1100', :height => '733'}
%img{:src => '//cdn.matsimitsu.com/japan2015/day-fifteen/image-2-2200x.jpg', :width => '1100', :height => '733'}

.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-fifteen/image-14-2200x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-fifteen/image-15-2200x.jpg', :width => '1100', :height => '733'}
%p With lot prices at a premium, sometimes the old must make place for the new. At most of these construction sites they display decibel meters to show the public that they are not generating too much noise.
.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-fifteen/image-17-2200x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-fifteen/image-13-1460x.jpg', :width => '733', :height => '1100'}

%p In the end I got much more then a few shirts at Uniqlo, despite the hordes of Chinese tourists behaving just like their stereotype (very rude).
%img{:src => '//cdn.matsimitsu.com/japan2015/day-fifteen/image-19-2200x.jpg', :width => '1100', :height => '885'}
.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-fifteen/image-20-2200x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-fifteen/image-21-2200x.jpg', :width => '1100', :height => '733'}

%p Another store I wanted to visit is the Muji store, they are a cross between Ikea and a design firm. Muji is distinguished by its design minimalism and a no-logo or "no-brand" policy. <a href="http://www.designboom.com/architecture/narita-airport-terminal-3-running-track-party-muji-nikken-04-10-2015/" target="_blank">They were recently involved in the design of the 3rd terminal for Narita airport</a>. Their store is great, on each floor they have huge cabinets with tons tons of books about design (interior, architecture, fashion and so on) that you can take and read.

.photo-row
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-fifteen/image-24-2200x.jpg', :width => '1100', :height => '733'}
  %img{:src => '//cdn.matsimitsu.com/japan2015/day-fifteen/image-25-1460x.jpg', :width => '733', :height => '1100'}

%img{:src => '//cdn.matsimitsu.com/japan2015/day-fifteen/image-27-2200x.jpg', :width => '1100', :height => '733'}

%p After this visit it was already seven in the evening, time to take the trains home and get something to eat.
%img{:src => '//cdn.matsimitsu.com/japan2015/day-fifteen/image-28-2200x.jpg', :width => '1100', :height => '733'}
